<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This website was created by Eric Tang. Data provided by Mapbox and Weatherstack!</p>
            <img class="portrait" src="/images/ko.jpeg">
        </div>

        {{>footer}}
    </body>
    
</html>